* {
    font-family: 'Lato', sans-serif;
}

.logo {
    width: 268px;   
}

.main-search .search-container {
    height: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E7E7E7;
    border-radius: 5px;
}

.main-search .input-search {
    opacity: 0.25;
}

.main-search .input-search:focus { 
    opacity: 1
}

.main-search .input-search, .main-search .input-search:focus {
    border: none;
    outline:none;
    background-color: transparent;
    box-shadow: none;
    font-size: 18px;
}

.main-search .fa-search {
    font-size: 32px;
}

.drop-down-filter-search {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.drop-down-filter {
    display: inline-block;
    vertical-align: top;
}

.drop-down-primary, .drop-down-success, .drop-down-danger {
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.drop-down-primary {
    background-color: #3282F7
}

.drop-down-success {
    background-color: #68D9A4
}

.drop-down-danger {
    background-color: #ED6454
}

.search-filter-tags, .search-filter-tag {
    display: flex;
    flex-flow: wrap;
}

.search-filter-tag {
    border-radius: 5px;
}

.search-filter-tag i {
    cursor: pointer;
}

.search-filter-tag-primary {
    color: white;
    background-color: #3282F7;
}

.search-filter-tag-success {
    color: white;
    background-color: #68D9A4;
}

.search-filter-tag-danger {
    color: white;
    background-color: #ED6454;
}

.dishe-time {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.fw-700 {
    font-weight: 700;
}

.fm-roboto {
    font-family: 'Roboto', sans-serif;
}

.fs-12 {
    font-size: 12px;
}

.ln-14 {
    line-height: 14px;
}

.dishe-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dishe-ingredients {
    display: flex;
}

.dishe-ingredients-list, .dishe-description {
    flex-grow: 0;
    flex-shrink: 0;
}

.dishe-ingredients-list {
    flex-basis: 45%
}

.dishe-description {
    flex-basis: 55%
}

.dishe-image-container {
    max-height: 178px;
    min-height: 178px;
    overflow: hidden;
}

.dishe-container {
    background-color: #E7E7E7;
}

.img-fluid {
    width: 100%;
}

.drop-down-filter.active {
    width:65%;
    position:relative
}

.drop-down-filter-content {
    display: none;
    width: 100%;
    position: absolute;
    top: 52px;
    left: 0;
    z-index: 999999999;
    border-radius: 0px 0px 5px 5px;
    max-height: 395px;
    overflow: auto;
}

.drop-down-filter.active .drop-down-filter-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.drop-down-filter.active .drop-down-filter-content div {
    width: calc(100% / 3);
}

.drop-down-filter.active .drop-down-filter-content div:hover {
    opacity: 0.7;
}

.drop-down-filter.drop-down-primary .drop-down-filter-content{
    background-color: #3282F7;
}

.drop-down-filter.drop-down-success .drop-down-filter-content{
    background-color: #68D9A4;
}

.drop-down-filter.drop-down-danger .drop-down-filter-content{
    background-color: #ED6454;
}

.drop-down-filter.active .drop-down-filter-title input {
    display: block;
}

.drop-down-filter.active .drop-down-filter-title span {
    display: none;
}

.drop-down-filter-title input {
    outline: none;
    border: none;
    background: transparent;
    display: none;
    color: white;
    width: 100%;
}

.drop-down-filter.active .drop-down-filter-icon .fa-chevron-up {
    display: block;
}

.drop-down-filter.active .drop-down-filter-icon .fa-chevron-down {
    display: none;
}

.drop-down-filter-icon .fa-chevron-up {
    display: none;
    cursor: pointer;
}

.drop-down-filter-title input::placeholder {
    color: white;
    opacity: 0.5;
}

.drop-down-filter-title {
    width: 100%;
}

.drop-down-primary.active,
.drop-down-success.active,
.drop-down-danger.active {
    cursor: default;
}

.drop-down-filter-content p.clickable {
    cursor: pointer;
    display: inline-block;
}

.hidden {
    display: none!important;
}

/* scroll bar design */
.drop-down-filter-content::-webkit-scrollbar {
    width: 3px;
}

.drop-down-filter-content::-webkit-scrollbar-track {
    background: #3282f7; 
}

.drop-down-filter-content::-webkit-scrollbar-thumb {
    background: rgb(217 217 217); 
    border-radius:10px	
}

.drop-down-filter-content::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 255, 255); 
}
.primary-no-result p,
.success-no-result p,
.danger-no-result p {
    padding-left: 2px;
}