* {
    font-family: 'Lato', sans-serif;
}

.logo {
    width: 268px;   
}

.main-search .search-container {
    height: 69px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #E7E7E7;
    border-radius: 5px;
}

.main-search .input-search {
    opacity: 0.25;
}

.main-search .input-search:focus { 
    opacity: 1
}

.main-search .input-search, .main-search .input-search:focus {
    border: none;
    outline:none;
    background-color: transparent;
    box-shadow: none;
    font-size: 18px;
}

.main-search .fa-search {
    font-size: 32px;
}

.search-filter, .drop-down-filter {
    display: flex;
    flex-direction: row;
}

.drop-down-primary, .drop-down-success, .drop-down-danger {
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.drop-down-primary {
    background-color: #3282F7
}

.drop-down-success {
    background-color: #68D9A4
}

.drop-down-danger {
    background-color: #ED6454
}

.search-filter-tags, .search-filter-tag {
    display: flex;
    flex-direction: row;
}

.search-filter-tag {
    border-radius: 5px;
}

.search-filter-tag i {
    cursor: pointer;
}

.search-filter-tag-primary {
    color: white;
    background-color: #3282F7;
}

.dishe-time {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.fw-700 {
    font-weight: 700;
}

.fm-roboto {
    font-family: 'Roboto', sans-serif;
}

.fs-12 {
    font-size: 12px;
}

.ln-14 {
    line-height: 14px;
}

.dishe-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dishe-ingredients {
    display: flex;
}

.dishe-ingredients-list, .dishe-description {
    flex-grow: 0;
    flex-shrink: 0;
}

.dishe-ingredients-list {
    flex-basis: 45%
}

.dishe-description {
    flex-basis: 55%
}

.dishe-image-container {
    max-height: 178px;
    min-height: 178px;
    overflow: hidden;
}

.dishe-container {
    background-color: #E7E7E7;
}